<div>
      <div>
            <iframe width="100%" height="300"  [src]= "temp">
                 
            </iframe>
      </div>
      <form>
  <div *ngIf="editTitle" class="form-group">
        <input type="text" class="form-control" name="title" [(ngModel)]="video.title" required placeholder="title"/>
  </div>
  <h3 *ngIf="!editTitle" (click)="onTitlechange()"> {{video.title}}</h3>
  <div class="form-group">
            <input type="text" class="form-control" name="url" [(ngModel)]="video.url" placeholder="url"/>
 </div>
      <div class="form-group">
                  <textarea  class="form-control" name="desc" [(ngModel)]="video.description"  rows="5" placeholder="description">
                  </textarea>           
      </div>
   <button type="button" (click) = "updateVideo()" class="btn btn-primary">Update</button>
   <button type="button" (click)="deleteVideo()" class="btn btn-danger">Delete </button>
            </form>           
</div>
           


