<div class="row">
        <div class= "col-sm-9">
          <div *ngIf="editToggle">
            <h2> New Video</h2>
            <form #form="ngForm" (ngSubmit)="onsubmitVideo(form.value)" class="well">
              <div class="form-group">
                  <label></label>
                  <input type="text" class="form-control" required name="title" ngModel>
              </div>
              <div class="form-group">
                  <label></label>
                  <input type="text" class="form-control" required name="url" ngModel>
              </div>
              <div class="form-group">
                  <label></label>
                  <input type="text" class="form-control"  name="description" ngModel>
              </div>
              <button type="submit" class="btn btn-success">Save</button>
            </form>
          </div>
          <video-detail (updateEvent)="onUpdateEvent($event)"
          (deleteEvent)="ondeleteVideoEvent($event)"
           *ngIf="selectedVideo && !editToggle"
            [video]="selectedVideo"></video-detail>
        </div>
        <div class="col-sm-3">
        <button style="margin-bottom:2px;" type= "button" (click)="Toggle()" class="btn btn-succes btn-block"> New Video</button>
            <video-list (selectVideo)="onSelectedVideo($event)" [videos]="videos"></video-list>
        </div>    
        </div>
      